@import "../../styles/breakpoints.scss";

.final-result {
  h4 {
    &.heading {
      font-size: 30px;
      @include bp-tablet-sm {
        font-size: inherit;
      }
    }
    &.number {
      font-size: 60px;
    }
  }
  .result {
    margin-top: 0px;
  }
}
